  .gap {
    flex: 1 1 auto;
  }
  
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  mat-sidenav {
    width: 280px;
    background-color: #262f3d;
  }

  
  .sidenav-logo-fix {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-left: 80px;
  }
  
  .mat-expansion-panel  {
    background: #262f3d;
  }
  
  .mat-expansion-panel-header {
    font-size: 18px;
  }
  
  .mat-expansion-panel-header:hover {
    font-size: 18px;
    background: #404854 !important;
  }
  
  .mat-expansion-panel-header-title {
    color: white;
  }
  
  .mat-list-item {
    color: rgba(255,255,255,.7);
  }
  
  .mat-list-item:hover {
    background: #404854;
  }
  
  .sidenav-list-item-fix {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
  }
  
  .sidenav-list-item-text {
    padding-top:3px;
    padding-left: 18px;
    font-size: 17px
  
  }
  
  .sidenav-list-item-icon {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .sidenav-list-item-icon-color {
    color:rgba(255,255,255,0.7);
    font-size: 35px;
  }
  
  .mat-toolbar {
    background: red;
    color: white;
  }